*{
    margin: 0;
}

.entier{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



input{
 display: inline-block;
 width: 20vw;
 height: 2vh;
 border-radius: 5px;
}

label{
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
    font-weight: bold;
    color: green;

}
button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   position: relative;
   left: 200px;
   margin-top: 20px;
   padding: 5px;
   font-size: 1.2em;
   text-transform: capitalize;
   background-color: green;
   border-radius: 5px;

}

button:hover{
    background-color: red;
}

.geant{
    padding: 50px;
    background-color: lightskyblue;
    box-shadow: 0px 0px 10px;
    border: 5px ridge black;
}

.geant h2{

    margin-bottom: 20px;
    text-align: center;
    color:burlywood;
    font-size: 1.5em;
    font-weight: 300;
}

.forme{
    background-color: whitesmoke;
    padding:50px;
    border-radius: 10px;
    
}

